# Django Security
DJANGO_SECRET_KEY=django-insecure-diversio-hris-preview-key-2026
DJANGO_DEBUG=True

# Celery & Redis configuration
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
CELERY_ALWAYS_EAGER=False

# Redis Cache configuration
REDIS_CACHE_URL=redis://127.0.0.1:6379/1
